.banner img{
  top: -30%;
}

.songs{
  width: 94%;
  padding: 15px 3%;
  background-color: #131313;
}
.songs ul{
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.songs ul li{
  display: inline-block;
  list-style: none;

  position: relative;
  top: 0px;
  transition: top 0.15s;
}
.songs ul li:hover{
  top: -5px;
}
.songs iframe{
  border: 0;
  width: 300px;
  height: 450px;
}